*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



.escenario img{
    width:750px;
    height:500px;
    position: relative;
    left:210px;
    right:10px;
    top:1xp;
}

.moneda img{
    width:50px;
    height:50px;
    position: relative;
    left:510px;
    top:-255px;
}
.moneda1 img{
    width:50px;
    height:50px;
    position: relative;
    left:555px;
    top:-309px;
}

.moneda2 img{
    width:50px;
    height:50px;
    position: relative;
    left:600px;
    top:-364px;
}

.moneda3 img{
    width:50px;
    height:50px;
    position: relative;
    left:700px;
    top:-561px;
}

.moneda4 img{
    width:50px;
    height:50px;
    position: relative;
    left:650px;
    top:-615px;
}

.moneda5 img{
    width:50px;
    height:50px;
    position: relative;
    left:600px;
    top:-668px;
}


.corazon img{
    width:70px;
    height:40px;
    position: relative;
    left:800px;
    top:-825px;
}

.corazon1 img{
    width:70px;
    height:40px;
    position: relative;
    left:840px;
    top:-870px;
}

.corazon2 img{
    width:70px;
    height:40px;
    position: relative;
    left:880px;
    top:-915px;
}

.personaje img{
    width:90px;
    height:90px;
    position: relative;
    left:350px;
    top:-601px;
}   

.nube img{
    width:100px;
    height:100px;
    position: relative;
    left:70%;
    top:-950px;
}

.nube1 img{
    width:100px;
    height:100px;
    position: relative;
    left:25%;
    top:-970px;
}

.nube2 img{
    width:100px;
    height:100px;
    position: relative;
    left:40%;
    top:-1250px;
}

.contador{
    position: relative;
    left:240px;
    top:-1370px;
    font-size: 24px;
    font-weight: bold;
    color: #f8fc0d;
}


.eso{
    position: absolute;
    top:200px;
    left: 130px;
   
}
.esa{
    position: absolute;
    top:200px;
    left:999px;
}


.anterior{
    
    left:135px;
    top:-1180px;
    width:30px;
    height:30px;
    border-radius:50px;
    background-color: #fcff68;
    border:none;
    cursor: pointer;
    margin:5px;
    color: #3e8df3;
    
}
.siguiente{
   
    left:950px;
    top:-1180px;
    width:30px;
    height:30px;
    border-radius:50px;
    background-color: #fcff68;
    border:none;
    cursor: pointer;
    margin:5px;
    color: #3e8df3;
}

.minis{
    position: absolute;
    top:520px;
    left:335px;
    display: flex;
    gap:20px;
}

.miniatura img{
width:150px;
height:80px;
background-color: #0af5f5;
border-radius:5px;

}

.miniatura1 img{
width:150px;
height:80px;
background-color: #ab0af5;
border-radius:5px;
}
.miniatura2 img{
width:150px;
height:80px;
background-color: #0af5f5;
border-radius:5px;

}

.activa{
    display: block!important;
}
.escena{
    display: none;
}

/*Animacion Monedas*/

.saltar{
    animation: salto 1s ease forwards
}

@keyframes salto {
    0% {transform: translateY(0); opacity: 1;}

    30% {transform: translateY(-60px);}

    100% {transform: translateY(0); opacity: 0;}
}


/*Animacion Nubes*/
.nube img{
    animation: moverNube 7s ease infinite alternate;
}

@keyframes moverNube {
    0% {left:65%;}
    100% {left:72%;}
}

.nube1 img{
    animation: moverNube1 7s ease infinite alternate;
}

@keyframes moverNube1 {
    0% {left:25%;}
    100% {left:32%;}
}

.nube2 img{
    animation: moverNube2 6s ease infinite alternate;
}

@keyframes moverNube2 {
    0% {left:40%;}
    100% {left:47%;}
}

/*Animacion Personaje*/

.personaje img{
    animation: moverPersonaje 10s ease infinite alternate;
}

@keyframes moverPersonaje {
    0% {left:20%;}
    100% {left:42%;}
}


/*Escenario 2*/

.escenario2 img{
    width:750px;
    height:500px;
    position: relative;
    left:210px;
    right:10px;
    top:-1x;
}

.manzana img{
    width:70px;
    height:70px;
    position: relative;
    left:480px;
    top:-373px;
}
.manzana1 img{
    width:70px;
    height:70px;
    position: relative;
    left:530px;
    top:-447px;
}
.manzana2 img{
    width:70px;
    height:70px;
    position: relative;
    left:580px;
    top:-523px;
}
.manzana3 img{
    width:70px;
    height:70px;
    position: relative;
    left:760px;
    top:-540px;
}
.manzana4 img{
    width:70px;
    height:70px;
    position: relative;
    left:702px;
    top:-613px;
}
.manzana5 img{
    width:70px;
    height:70px;
    position: relative;
    left:300px;
    top:-685px;
}
.manzana6 img{
    width:70px;
    height:70px;
    position: relative;
    left:360px;
    top:-758px;
}

.personaje2 img{
    width:70px;
    height:80px;
    position: relative;
    left:480px;
    top:-750px;
}

.burbuja img{
    width:80px;
    height:80px;
    position: relative;
    left:800px;
    top:-750px;
}
.burbuja1 img{
    width:90px;
    height:95px;
    position: relative;
    left:500px;
    top:-1200px;
}

.burbujaSola img{
    width:90px;
    height:95px;
    position: relative;
    left:350px;
    top:-1000px;
}
.burbujaSola1 img{
    width:90px;
    height:95px;
    position: relative;
    left:200px;
    top:-1370px;
}

.contador2{
    position: relative;
    left:240px;
    top:-1100px;
    font-size: 24px;
    font-weight: bold;
    color: #2652e0;
}
/*Animacion Burbuja*/
.burbuja img{
    animation: moverBurbuja 7s ease infinite alternate;
}

@keyframes moverBurbuja {
    0% {left:65%;}
    100% {left:72%;}
}

.burbuja1 img{
    animation: moverBurbuja1 15s ease infinite alternate;
}

@keyframes moverBurbuja1 {
    0% {left:64%;}
    100% {left:70%;}
}
.burbujaSola img{
    animation: moverBurbujaSola 20s ease infinite alternate;
}
@keyframes moverBurbujaSola {
    0% {left:20%;}
    100% {left:30%;}
}
.burbujaSola1 img{
    animation: moverBurbujaSola1 10s ease infinite alternate;
}
@keyframes moverBurbujaSola1 {
    0% {left:50%;}
    100% {left:60%;}
}

.personaje2 img{
    animation: moverPersonaje2 5s ease infinite alternate;
}
@keyframes moverPersonaje2 {
    0% {left:40%;}
    100% {left:48%;}
}

/*Animacion Manzanas*/
.saltarM{
    animation: salto 1s ease forwards
}

@keyframes salto {
    0% {transform: translateY(0); opacity: 1;}

    30% {transform: translateY(-60px);}

    100% {transform: translateY(0); opacity: 0;}
}


/*Escenario 3*/

.escenario3 img{
    width:750px;
    height:500px;
    position: relative;
    left:210px;
    right:10px;
    top:-1px;
}

.diamante img{
    width:50px;
    height:50px;
    position: relative;
    left:300px;
    top:-210px;
}
.diamante1 img{
    width:53px;
    height:59px;
    position: relative;
    left:355px;
    top:-255px;
}
.diamante2 img{
    width:56px;
    height:43px;
    position: relative;
    left:415px;
    top:-285px;
}
.diamante3 img{
    width:56px;
    height:60px;
    position: relative;
    left:729px;
    top:-325px;
}

.personaje3 img{
    width:155px;
    height:90px;
    position: relative;
    left:600px;
    top:-670px;
}


.contador3{
     position: relative;
    left:240px;
    top:-1120px;
    font-size: 24px;
    font-weight: bold;
    color: #bd891a;
}

.nuve img{
    width:100px;
    height:100px;
    position: relative;
    left:250px;
    top:-685px;
}
.nuve1 img{
    width:100px;
    height:100px;
    position: relative;
    left:600px;
    top:-958px;
}
.nuve2 img{
    width:100px;
    height:100px;
    position: relative;
    left:750px;
    top:-800px;
}
/*Animacion Nube*/
.nuve img{
    animation: moverNuve 7s ease infinite alternate;
}
@keyframes moverNuve {
    0% {left:240px;}
    100% {left:750px;}
}
.nuve1 img{
    animation: moverNuve1 7s ease infinite alternate;
}
@keyframes moverNuve1 {
    0% {left:490px;}
    100% {left:650px;}
}
.nuve2 img{
    animation: moverNuve2 6s ease infinite alternate;
}
@keyframes moverNuve2 {
    0% {left:750px;}
    100% {left:800px;}
}


/*Animacion Personaje3*/
.personaje3 img{
    animation: moverPersonaje3 15s ease infinite alternate;
}
@keyframes moverPersonaje3 {
    0% {left:50%;}
    100% {left:59%;}
}

/*Animacion Diamantes*/
.saltarD{
    animation: salto 1s ease forwards
}

@keyframes salto {
    0% {transform: translateY(0); opacity: 1;}

    30% {transform: translateY(-60px);}

    100% {transform: translateY(0); opacity: 0;}
} 

