body{
    background-color: blue;
    background-image: url(./img/WhatsApp\ Image\ 2025-11-25\ at\ 2.13.38\ PM.jpeg);
}

.personaje img{
    width:500px;
    height:500px;
    margin: 0 0 0 420px;
    border-radius: 15px;
}

.informacion h1{
color: white;
display:flex;
justify-content: space-around;
}
.informacion p{
    color: white;
    margin: 0 300px 0 300px;
    display: flex;
    justify-content: space-around;
}

.boton{
 text-decoration: none;
    margin:10px 1259px 70px 5px;
    color: rgb(255, 255, 255);
    display: flex;
    background-color: rgb(177, 27, 27);
    border:none;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    
}

.boton:hover{
     background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transform: scale(1.15);
}