*{box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;}

body{
    background-color: black;
}
    .keke{
        color: brown;
        display: flex;
        justify-content: center;
        margin: 100px 0 0 0;
    }

.imagen img{
    width:700px;
    height:700px;
    margin: 0 0 0 300px;
 
}

.boton{
    width:200px;
    position: absolute;
    top: 471px;
    left:610px;
}


@media (max-width: 768px){

    .imagen img{
        width:300px;
        height:300px;
        margin: 0 0 0 210px;
    }

    .boton{
        width:150px;
        position: absolute;
        top: 300px;
        left:340px;
    }
}