*{box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;}

body{
    background-color: black;
}
    .keke{
        color: brown;
        display: flex;
        justify-content: center;
        margin: 250px 0 0 0;

         display: flex;
    flex-direction: column;
    align-items: center;
    }


.boton{
  
     border-radius: 4px;
    padding: 20px 40px 20px 40px;
    background-color: brown;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.boton:hover{
    background-color: rgb(255, 255, 255);
    color: brown;
    transition: 0.3s;
    cursor: pointer;
}

@media (max-width: 768px){

    .imagen img{
        width:300px;
        height:300px;
        margin: 0 0 0 210px;
    }

    .boton{
        width:150px;
        position: absolute;
        top: 300px;
        left:340px;
    }
}