body{
     background-image: url(./img/WhatsApp\ Image\ 2025-11-25\ at\ 2.13.38\ PM.jpeg);
}

.pantalla{
    width:800px;
    height:500px;
background-color: brown;
margin: 0 0 0 250px;
}

.descri{
     margin: 0 50px 0 50px;
    color: white;
}

.boton{
    text-decoration: none;
    margin:10px 1259px 70px 5px;
    color: rgb(255, 255, 255);
    display: flex;
    background-color: rgb(177, 27, 27);
    border:none;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.boton:hover{
     background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transform: scale(1.15);
}

@media (max-width: 768px){

    .pantalla{
     width:700px;
    height:400px;
    margin: 0;
    }

    .pantalla video{
        width:700px;
        height:400px;
    }

    .descripcion{
        margin: 0 20px;
    }

    .boton{
      padding: 10px 60px 10px 30px;
        
    }
}