*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;}
body{
    background-color: rgb(0, 0, 0);
    margin:0;
  
}
.portada{
    height:100%;
    width: 100%;
    background-image: url(img/portada.png);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
    background-size: cover;
    background-repeat: no-repeat;}


.letra{
   display: flex;
  align-items: flex-start;
flex-direction: column;}

.letra h1{
    font-size: 54px;
    margin:200px 700px 50px 100px;
color: white;}

.letra div{
color: white;
margin:0 700px 30px 100px;
align-items: flex-start;}

.letra button{
    margin:20px;
    color: rgb(255, 255, 255);
    display: flex;
    background-color: rgb(177, 27, 27);
    border:none;
    padding: 20px 30px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin:0 700px 100px 100px;;}

.letra button:hover{
     background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);}

.info{
    width:2000px;
height:150px;
    background-color:brown}

.letras{
display:flex;
flex-direction: column;
margin: 0 0 0 20px;
color: rgb(255, 255, 255);}

@media (max-width: 768px){
    .portada{
       justify-content:center;
    }
    
}



.Episodios{
    margin: 100px 0 0 20px;
    color: white;}

.esos div{
    width:300px;
    height:200px;
    background-color:brown;
    margin: 0 10px 0 10px;
     border-radius: 5px;}

.esos{
       display: flex;
       justify-content: space-between;}

.esos p{
    font-size: 14px;
    display: flex;
    margin: -30px 0px 0 10px ;
    color: rgb(255, 255, 255);}

.esos img{
    width:300px;
    height:200px;
     border-radius: 5px;}




.perso{
   margin: 50px 15px 0 20px;
    color: white;
    display: flex;
    justify-content: center; 
}

.personajes{
    display: flex;
       justify-content:center;
}

.personajes div{
    width:100px;
    height:100px;
    background-color:rgb(92, 92, 92);
    margin: 0 10px 0 10px;
     border-radius: 5px;

}
.personajes p{
    font-size: 14px;
    display: flex;
    margin: 10px 0 0 10px ;
    color: white;
    display: flex;
    justify-content: center;
}
.personajes img{
    width:100px;
    height:100px;
    margin: 0;
     border-radius: 5px;
}


@media (max-width: 783px){
    .personajes img{
    width:70px;
    height:50px;
     border-radius: 5px;
    }
    .personajes div{
        width:100px;
    height:90px;
    }
.personajes p{
       margin: 10px 0 0 0 ;
}


.esos{
    flex-direction: column;
    align-items: center;
}
.esos img{
 margin: 20px 0 40px 0;
}
.esos div{
     margin: 20px 0 40px 0;
}
.esos p{
       margin: -30px 0px 0 10px ;
}
    }

    
