*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.portada{
    height:500px;
    right:300px ;
    background-color: brown;
    border-radius:30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.letra{
   display: flex;
   flex-direction:column;
   align-items: center;
    
}

