*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;}

body{
    background-color: rgb(0, 0, 0);
    margin:0;}


.carrusel-container {
    position: relative;
    width: 100%;
    max-height: 650px;
    overflow: hidden;

     height:100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-around;
    background-size: cover;
    background-repeat: no-repeat;
}

.carrusel {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    transition: opacity 0.5s;
}

.slide img {
    width: 100%;
    height:650px;
    object-fit: cover;
     filter: brightness(60%); 
}

.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px 12px;
    cursor: pointer;
    font-size: 20px;
}

.prev { left: 10px; }
.next { right: 10px; }

.btn:hover {
    background: rgba(0,0,0,0.7);
}





.equisde{
    color: white;
    font-size:20px;
    display: flex;
    background-color: none;
    position: absolute;
    top: 10px;
    left: 820px;

    opacity: 0;
    transform: translateY(10px);
    animation: aparecer 0.10s ease-out forwards;
   
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.equisde p{
     margin: 35px 40px 0 1px;
}
.equisde h3{
position: relative;
top:10px;
left:-760px;
}

.portada{
    height:100%;
    width: 100%;
    }

    
.letra{
   display: flex;
  align-items: flex-start;
flex-direction: column;
position: absolute;
top: 15px;
left: 100;
}

.letra h1{
    font-size: 54px;
    margin:200px 700px 50px 100px;
color: brown;

opacity: 0;
    transform: translateY(10px);
    animation: aparecer 0.8s ease-out forwards;
}
.letra div{
color: white;
margin:0 700px 30px 100px;
align-items: flex-start;

opacity: 0;
    transform: translateY(10px);
    animation: aparecer 0.15s ease-out forwards;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



.olo{
    position: absolute;
    top:470px;
    left:95px;
    color: antiquewhite;

    opacity: 0;
    transform: translateY(10px);
    animation: aparecer 0.8s ease-out forwards;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.olo{
text-decoration: none;
    margin:10px 12px 70px 5px;
    display: flex;
    background-color: rgb(177, 27, 27);
    border:none;
    padding: 20px 30px ;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.olo:hover
{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transform: scale(1.15);
}

.letra button{
    margin:20px;
    color: rgb(255, 255, 255);
    display: flex;
    background-color:white;
    border:none;
    padding: 20px 30px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin:0 700px 100px 100px;;}


.info{
    width:2000px;
height:150px;
    background-color:brown}

.letras{
display:flex;
flex-direction: column;
margin: 0 0 0 20px;
color: rgb(255, 255, 255);}

@media (max-width: 768px){
    .portada{
       justify-content:center;
    }
    
}


.Episodios h3{
    margin: 100px 0 20px 20px;
    color: white;}

.esos div{
    width:300px;
    height:200px;
    background-color:brown;
    margin: 0 10px 0 10px;
     border-radius: 5px;}

.esos{
       display: flex;
       justify-content: space-between;
       overflow-x: scroll;
       overflow-y: hidden;
    }

.esos div:hover{
    transform: scale(1.01);
}

.esos::-webkit-scrollbar {
    height: 10px;
    
}
.esos::-webkit-scrollbar-thumb {
    background-color:brown;
    border-radius: 10px;
}


.esos p{
    font-size: 17px;
    display: flex;
    margin: -30px 0px 0 10px ;
    color: rgb(255, 255, 255);}

.esos img{
    width:300px;
    height:200px;
     border-radius: 5px;}




.perso{
   margin: 50px 15px 0 20px;
    color: white;
    display: flex;
    justify-content: center; 
}

.personajes{
    display: flex;
       justify-content:center;
       
}

@media (max-width: 768px){
    .personajes{
       overflow-x: scroll;
       overflow-y: hidden;
    }
    .personajes div:hover{
    transform: scale(1.01);
}

.personajes::-webkit-scrollbar {
    height: 10px;
    
}
.personajes::-webkit-scrollbar-thumb {
    background-color:rgb(255, 255, 255);
    border-radius: 10px;
}
}

.personajes div:hover{
     background-color:rgb(232, 62, 62);
    color: rgb(0, 0, 0);
    transform: scale(1.10);
}

.personajes div{
    width:110px;
    height:150px;
    background-color:brown;
    margin: 0 10px 0 10px;
     border-radius: 5px;

}
.personajes p{
    font-size: 14px;
    display: flex;
    margin: 10px 10px 0 10px ;
    color: white;
    display: flex;
    justify-content: center;}

.personajes img{
    width:100px;
    height:100px;
    margin: 5px 5px 0 5px;
     border-radius: 5px 5px 0 0;}


@media (max-width: 783px){
    .personajes img{
    width:70px;
    height:50px;
     border-radius: 5px;
    }
    .personajes div{
        width:100px;
    height:90px;
    }
.personajes p{
       margin: 10px 0 0 0 ;
}


.esos{
    flex-direction: column;
    align-items: center;
}
.esos img{
 margin: 20px 0 40px 0;
}
.esos div{
     margin: 20px 0 40px 0;
}
.esos p{
       margin: -30px 0px 0 10px ;
}
    }

    
